* {
	padding: 0px;
	margin: 0px;
}

header, nav, main, section, #logo, #search input[type="text"], a, #scan {
	display: block;
}

body {
	font-family: 'alef', sans-serif;
	overflow: hidden;
}

nav, .info {
	width: 100%;
	background-color: #7a7a7a;
	position: fixed;
	text-align: center;
	bottom: 0px;
}

main > section > img {
	width: 100%;
	height: auto;
}

#clickScan {
	margin-top: 17px;
	color: #444444;
	text-align: center;
	font-size: 24px;
}

#flower {
	background: url(../images/flower2.png) no-repeat;
}

#settings {
	background: url(../images/set.png) no-repeat;
}

#medicine {
	background: url(../images/medi.png) no-repeat;
}

#wiki {
	background: url(../images/wik.png) no-repeat;
}

/********************************************************************************************/

@media (max-width: 590px) {

	/*#wrapper {
	 //border: 1px black solid;
	 //width: 100%;
	 }
	 */

	header {
		height: 95px;
	}

	main {
		height: 658px;
		background-color: #d6d6d6;
		padding-top: 5px;
		width: 100%;
	}

	nav {
		height: 80px;
	}

	.logo {
		background: url('../images/logo.png') no-repeat;
		width: 266px;
		height: 80px;
		margin: 0px auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.miniLogo {
		margin: 0px auto;
		position: relative;
		float: left;
		width: 40px;
		height: 40px;
		left: 3%;
		top: 18px;
	}

	.back {
		background: url('../images/back.png') no-repeat;
	}

	.flowerLogo {
		background: url('../images/flower_logo.png') no-repeat;
	}

	
	.info ul {
		margin: 3px auto;
		list-style-type: none;
	}

	.info ul li {
		position: relative;
		float: left;
		width: 21%;
		float: left;
		background: url('../images/leaf1.png') no-repeat;
		top: -98px;
		left: 7%;
		padding-top: 7px;
		padding-bottom: 5px;
	}

	.info li a {
		
		text-decoration: none;
		margin: 0px auto;
		width: 120px;
		height: 35px;
		color: #355723;
		font-size: 13px;
		font-weight: bold;
		padding-top: 4px;
		padding-right: 14%;
	}
	
	.info li a:focus{
		color: #355723;
	}
	
	
	#scanNav {
		height: 40px;
	}

	#search {

	}

	#search input[type="text"] {
		margin: 0px auto;
		background: url(../images/search1.png) no-repeat left #ffffff;
		border: 1px solid #d6d6d6;
		direction: rtl;
		font: bold 14px Arial, Helvetica, Sans-serif;
		color: #929292;
		width: 85%;
		padding: 10px 15px 10px 35px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}

	#search input[type="text"]::-webkit-input-placeholder {
		color: #d6d6d6;
	}
	
	
	#searchi input[type="text"] {
		margin: 0px auto;
		background: url(../images/search1.png) no-repeat left #ffffff;
		border: 1px solid #d6d6d6;
		direction: rtl;
		font: bold 14px Arial, Helvetica, Sans-serif;
		color: #929292;
		width: 90%;
		padding: 10px 15px 10px 35px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		margin-left: 5%;
	}

	#searchi input[type="text"]::-webkit-input-placeholder {
		color: #d6d6d6;
	}

	nav ul {
		margin: 6px auto;
		list-style-type: none;
	}

	nav ul li {
		width: 25%;
		float: left;
		color: #aaaaaa;
	}

	nav li a {
		margin: 0px auto;
		width: 50px;
		height: 50px;
	}

	#scan {
		background: url('../images/search_flower.png') no-repeat;
		margin: 0px auto;
		width: 300px;
		height: 300px;
		margin-top: 30px;
	}

	#scanHeadline {
		margin-top: 6.5px;
		color: #444444;
		font-size: 20px;
		font-weight: 0.5px;
	}

	/********************************/
	#scaning {
		margin-top: -5px;
		display: block;
		position: relative;
		width: 100%;
		height: 658px;
	}

	#qr {
		display: block;
		position: relative;
		top: -564px;
		z-index: 10;
		margin: 0px auto;
	}

	#code {
		display: block;
		position: relative;
		top: -820px;
		z-index: 20;
		margin: 0px auto;
	}

	/********************************/

	#searching {
		/*
		 /*color: #4f3c2d;
		 font-weight: bold;
		 font-size: 18px;
		 direction: rtl;
		 position: relative;
		 right: 280px;
		 top: 100px;*/

	}

	#wrrapZevi {
		margin: 0px auto;
	}

	#zevi {
		position: relative;
		float: right;
		width: 55%;
		top: 15%;
		right: 8%;
		max-width:300px;
		max-height:450px;
	}

	#bubble {
		position: relative;
		float: right;
		width: 45%;
		top: 0%;
		left: 5%;
	}

	#zviLink{
		display: inline;	
	}
	
	#Link {
		display: block;
		position:relative;
		float:left;
		top:0px;
		width:500px;
		height:100px;
		z-index: -1px;
	}

	/********************************/
	.infoHead {
		margin: 0px auto;
		direction: rtl;
		width: 90%;
		height: 75px;
	}
	
	.pageH {
		color: #7a7a7a;
		width: 90%;
		font-size: 30px;
		margin-top: 5px;
	}

	.shortLine {
		border-bottom: 1px dashed #7a7a7a;
		border-top: 0px;
		width: 50%;
	}

	.edit {
		display: block;
		background: url('../images/edit1.png') center no-repeat;
		padding: 22px;
		background-color: #e6e6e6;
		border: 2px solid #929292;
		border-radius: 10px;
		position: relative;
		top: -32px;
		right: 7px;
		width: 8px;
		height: 2px;
		float: left;
		
	}

	.find {
		display:block;
		background: url('../images/locate.png') left no-repeat;
		padding: 3px 10px 10px 40px;
		background-color: #e6e6e6;
		border: 2px solid #929292;
		color: #606060;
		border-radius: 10px;
		position: relative;
		top: -32px;
		right: 2px;
		width: 90px;
		height: 33px;
		text-decoration: none;
		float: left;
	}

	.infoImg {
		display: block;
		position: relative;
		margin: 0px auto;
		width: 330px;
		height: 200px;
		bottom: 20px;
	}

	.infoContent {
		direction: rtl;
		font-size: 20px;
		color: #606060;
		width: 90%;
		margin: 0px auto;
		height: 220px;
		overflow-y: scroll;
	}

	.infoContent::-webkit-scrollbar {
		display: none;
	}

	.infoContent h2 {
		font-size: 20px;
	}

	.underlined {
		text-decoration: underline;
	}

	.infoContent p {
		margin-top: 5px;
	}

	.info .chosen {
		color: #785616;
		font-size: 15px;
	}

	/********************************/

	.findCity {
		width: 100%;
		margin: 0px auto;
	}

	.pageHFind {
		margin: 6px auto;
		font-weight: normal;
		width: 100%;
	}

	.input-group {
		width: 90%;
		margin: 0px auto;
	}

	.infoHeadFind {
		margin: 0px auto;
		direction: rtl;
		width: 90%;
	}

	.form-control {
		direction: rtl;
	}

	.input-group {
		margin-bottom: 7px;
		margin-top: 7px;
	}
	.input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle {
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
	}

	.input-group .form-control:first-child {
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
	}

	/*.dropdown-menu-right {
	 right: 0;
	 left: auto;
	 display: block;
	 }*/

	.open > .dropdown-toggle.btn-default:focus {

	}

	ul.dropdown-menu.dropdown-menu-right {
		display: block;
		position: absolute;
		z-index: 10px;
		margin: 0px auto;
		padding: 3px 20px;
		top: 308px;
		right: -45px;
		clear: both;
		font-weight: 400;
		line-height: -1.571429;
		color: #333;
		width: 590px;
		text-align: center;
		white-space: nowrap;
	}

	#dropDownList {
		display: block;
		position: fixed;
		bottom: 0px;
		color: red;
		text-align: center;
		height: 100px;
		width: 100%;
		background: #FFFFFF;
		overflow: scroll;
	}

	#dropDownList ul li a {
		color: #333333;
		text-decoration: none;
	}

	#dropDownList ul li a:hover {
		font-weight: bold;
	}

	#dropDownList ul li {
		margin-top: 5px;
	}

	.storeLine{
		border-bottom: 1px solid #7a7a7a;
   		 width: 100%;   
   		 border-top: 0px;
	}
	
	.infoContent h2 {
		font-weight:bold;
	}
	
	.clear {
		clear: both;
	}
}

@media (min-width: 591px) and (max-width: 850px) {

	header {
		height: 95px;
	}

	main {
		height: 658px;
		background-color: #d6d6d6;
		padding-top: 5px;
		width: 85%;
		float: right;
	}
	
	main #searching {
		height: 658px;
		background-color: #d6d6d6;
		padding-top: 5px;
		width: 100%;
		float: right;
	}


	nav {
		height: 658px;
	    position: relative;
	    float: right;
	    width: 15%;
	    padding-top: 3.5%;
}
	

	.logo {
		background: url('../images/logo.png') no-repeat;
		width: 266px;
		height: 80px;
		margin: 0px auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.miniLogo {
		margin: 0px auto;
		position: relative;
		float: left;
		width: 40px;
		height: 40px;
		left: 3%;
		top: 18px;
	}

	.back {
		background: url('../images/back.png') no-repeat;
	}

	.flowerLogo {
		background: url('../images/flower_logo.png') no-repeat;
	}

	.info {
		background-color: #d6d6d6;
	}

		.info ul {
		margin: 3px auto;
		list-style-type: none;
		    margin-right: 6%;
	}

	.info ul li {
		position: relative;
		float: left;
		width: 21%;
		float: left;
		background: url('../images/leaf2.png') no-repeat;
		top: -48px;
		left: 2.5%;
		padding-top: 7px;
		padding-bottom: 5px;
	}

	.info li a {
		
		text-decoration: none;
		margin: 0px auto;
		padding-top: 4px;
		padding-right:14%;
		width: 170px;
		height: 50px;
		color: #355723;
		font-size: 14px;
		font-weight: bold;
    
	}
	
	.info li a:focus{
		color: #355723;
	}
	
	#scanNav {
		height: 30px;
		position:fixed;
		bottom: 0px;
		width:100%;
	}

	#search input[type="text"] {
		margin: 0px auto;
		background: url(../images/search1.png) no-repeat left #ffffff;
		border: 1px solid #d6d6d6;
		direction: rtl;
		font: bold 14px Arial, Helvetica, Sans-serif;
		color: #929292;
		width: 85%;
		padding: 10px 15px 10px 35px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}

	#search input[type="text"]::-webkit-input-placeholder {
		color: #d6d6d6;
	}
	
	#searchi input[type="text"] {
		margin: 0px auto;
		background: url(../images/search1.png) no-repeat left #ffffff;
		border: 1px solid #d6d6d6;
		direction: rtl;
		font: bold 14px Arial, Helvetica, Sans-serif;
		color: #929292;
		width: 90%;
		padding: 10px 15px 10px 35px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		margin-left: 5%;
	}

	#searchi input[type="text"]::-webkit-input-placeholder {
		color: #d6d6d6;
	}

	nav ul {
		height:658px;
		list-style-type: none;
		padding-left: 19%;
	}

	
	nav ul li {
		width: 70%;
		height: 21%;
		color: #aaaaaa;
	}


	nav li a {
		text-align:center;	
		margin: 0px auto;
		width: 50px;
		height: 50px;
	}

	#scan {
		background: url('../images/search_flower.png') no-repeat;
		margin: 0px auto;
		width: 300px;
		height: 300px;
		margin-top: 30px;
	}

	#scanHeadline {
		margin-top: -10px;
		color: #444444;
		font-size: 20px;
		font-weight: 0.5px;
	}

	/********************************/
	
	#scanTab, #chooseTab{
		width:100%;
		
	}
	#scaning {
		margin-top: -5px;
		display: block;
		position: relative;
		width: 100%;
		height: 658px;
	}

	#qr {
		display: block;
		position: relative;
		top: -564px;
		z-index: 10;
		margin: 0px auto;
	}

	#code {
		display: block;
		position: relative;
		top: -820px;
		z-index: 20;
		margin: 0px auto;
	}

	/********************************/

	#searching {
		width:100%;
	}

	#wrrapZevi {
		margin: 0px auto;
	}

	#zevi {
		position: relative;
		float: right;
		max-width:300px;
		max-height:450px;
		top: 15%;
		right: 16%;
	}

	#bubble {
		position: relative;
		float: right;
		max-width:260px;
		max-height:195px;
		top: 0%;
		left: -10%;
	}


	/********************************/
	.infoHead {
		margin: 0px auto;
		direction: rtl;
		width: 90%;
		height: 75px;
	}
	
	.pageH {
		color: #7a7a7a;
		width: 90%;
		font-size: 30px;
		margin-top: 5px;
	}

	.shortLine {
		border-bottom: 1px dashed #7a7a7a;
		border-top: 0px;
		width: 50%;
	}
	
	.edit {
		display: block;
		background: url('../images/edit1.png') center no-repeat;
		padding: 22px;
		background-color: #e6e6e6;
		border: 2px solid #929292;
		border-radius: 10px;
		position: relative;
		top: -32px;
		right: 6px;
		width: 8px;
		height: 2px;
		float: left;
		
	}

	.find {
		display:block;
		background: url('../images/locate.png') left no-repeat;
		padding: 3px 10px 10px 40px;
		background-color: #e6e6e6;
		border: 2px solid #929292;
		color: #606060;
		border-radius: 10px;
		position: relative;
		top: -32px;
		right: 1px;
		width: 90px;
		height: 33px;
		text-decoration: none;
		float: left;
	}
	
	.infoImg {
		display: block;
		position: relative;
		margin: 0px auto;
		width: 330px;
		height: 200px;
	}

	.infoContent {
		direction: rtl;
		font-size: 20px;
		color: #606060;
		width: 90%;
		margin: 0px auto;
		height: 220px;
		overflow-y: scroll;
	}

	.infoContent::-webkit-scrollbar {
		display: none;
	}

	.infoContent h2 {
		font-size: 20px;
	}

	.underlined {
		text-decoration: underline;
	}

	.infoContent p {
		margin-top: 5px;
	}

	.info .chosen {
		color: #785616;
		font-size: 16px;
	}

	/********************************/

	.findCity {
		width: 100%;
		margin: 0px auto;
	}

	.pageHFind {
		margin: 6px auto;
		font-weight: normal;
		width: 100%;
	}

	.input-group {
		width: 90%;
		margin: 0px auto;
	}

	.infoHeadFind {
		margin: 0px auto;
		direction: rtl;
		width: 90%;
	}

	.form-control {
		direction: rtl;
	}

	.input-group {
		margin-bottom: 7px;
		margin-top: 7px;
	}
	.input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle {
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
	}

	.input-group .form-control:first-child {
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
	}

	/*.dropdown-menu-right {
	 right: 0;
	 left: auto;
	 display: block;
	 }*/

	.open > .dropdown-toggle.btn-default:focus {

	}

	ul.dropdown-menu.dropdown-menu-right {
		display: block;
		position: absolute;
		z-index: 10px;
		margin: 0px auto;
		padding: 3px 20px;
		top: 308px;
		right: -45px;
		clear: both;
		font-weight: 400;
		line-height: -1.571429;
		color: #333;
		width: 590px;
		text-align: center;
		white-space: nowrap;
	}

	#dropDownList {
		display: block;
		position: fixed;
		bottom: 0px;
		color: red;
		text-align: center;
		height: 100px;
		width: 100%;
		background: #FFFFFF;
		overflow: scroll;
	}

	#dropDownList ul li a {
		color: #333333;
		text-decoration: none;
	}

	#dropDownList ul li a:hover {
		font-weight: bold;
	}

	#dropDownList ul li {
		margin-top: 5px;
	}
	
	.respNav{
		font-size: 16px;
	}

	.storeLine{
		border-bottom: 1px solid #7a7a7a;
   		 width: 100%;   
   		 border-top: 0px;
	}
	
	.infoContent h2 {
		font-weight:bold;
	}

	.clear {
		clear: both;
	}

}